<h2><%= @article.title %></h2>
<hr>
<h3><%= @article.content %></h3>

<%= link_to 'Edit', edit_article_path(@article.id) %>
<%= link_to "Delete", article_path(@article.id), method: "delete", data: { confirm: "Are you sure?"} %>

<%= link_to 'Back', articles_path %>
